# Ignore model weights
nnunet-baseline/weights.zip

# Ignore results directory
nnunet-baseline/nnUNet_results/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
tutorial_notebooks/.ipynb_checkpoints/
